div{
    background-color: lightblue;
    /* padding: 10px; */
    padding: 20px 10px 10px 20px;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 20px;
    padding-bottom: 10px;
    border: 2px solid red;
    border: 2px dashed green;
    border: 2px dotted blue;
    border: 2px double black;
    border: 2px groove purple;

    /* margin: 20px;
    margin-right: 40px; */
    margin-bottom: 50px;
    /* margin-left: 60px; */
}