div h1{
    background-color: red;
}
div>h1{
    background-color: aqua;
}
/* div>h1+h1{
    background-color: blue;
} */
div>h1+h1
{
    background-color: blue;
} 
/* div>h1~h1{
    background-color: rgb(0, 255, 51);
} */
 div h1+h1{
    background-color: brown;
 }