div>h1:first-child{
    background-color: blue;
}
div>h2:last-child{
    background-color: blueviolet;
}
div>h2:first-of-type{
    background-color: green;
}
div>h1:last-of-type{
    background-color: yellow;
}
div>h3:nth-child(even){
    background-color: aqua;
}
div>h2:nth-of-type(2){
    background-color: aquamarine;
}
